body {
    background-image: url(/img/body.jpg);
}
button {
    background:#ffd700;
    background:-moz-linear-gradient(top,#ffd700 0%,orange 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffd700),color-stop(100%,orange));
    background:-webkit-linear-gradient(top,#ffd700 0%,orange 100%);
    background:-o-linear-gradient(top,#ffd700 0%,orange 100%);
    background:-ms-linear-gradient(top,#ffd700 0%,orange 100%);
    background:linear-gradient(top,#ffd700 0%,orange 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CCD00',endColorstr='#4AA400',GradientType=0);
    padding:3px 8px;
    color:#00008b;
    font-family:'Helvetica Neue',sans-serif;
    font-size:12px;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border:2px solid white;
    cursor: pointer;
}
.menu li{
    background: #add8e6;
}
.menu li a {
    color: #00008b;
}
.menu li a:hover {
    background: orange;
}
.style td {
    border-bottom: 2px solid white;
}
.style a {
    color: #00008b;
    background: #add8e6;
    border:2px solid white;
    border-radius:6px;
    text-decoration: none;
}
.style a:hover {
    background: orange;
}
.logout{
    text-align: right;
    margin-right: 15px;
}
.logout a{
    color: #00008b;
    background: orange;
    border:2px solid white;
    border-radius:6px;
    text-decoration: none;
}
.tree li{
    list-style-type: none;
    text-align: center;
    width: 150px;
    height: 30px;
    background: #add8e6;
    border:2px solid white;
    border-radius:6px;
}
.tree li a {
    width: 100%;
    height: 100%;
    display:block;
    color: #00008b;
    text-decoration: none;
}
.tree li:hover {
    background: orange;
}
.top {
    font-size:12px;
    font-style: italic;
    color: white;
    background: #add8e6;
}
.top a {
    text-decoration: none;
    color: #00008b;
}
.date {
    color: orange;
}
.users {
    padding-top: 50px;
    width: 100%;
    text-align: center;
}
.users td{
    border:2px solid white;
    background: #add8e6;
    color: #00008b;
}
.users .head td{
    border:2px solid white;
    background: orange;
    color: #00008b;
}
.tree{
    width: 20%;
    height: 700px;
    text-align: left;
}
.tree a{
    color: #00008b;
    background: orange;
    border:2px solid white;
    border-radius:6px;
    text-decoration: none;
}
.view{
    width: 80%;
    height: 700px;
    text-align: center;
}
.rf-p {
    width: 90%;
}
.tree .rf-trn-lbl{
    text-align: center;
    width: 150px;
    height: 30px;
    background: #add8e6;
    border:2px solid white;
    border-radius:6px;
    color: #00008b;
}
.tree .rf-trn-ico-colps.rf-trn-ico{
    display: none;

}
.tree .rf-trn-ico.rf-trn-ico-exp{
    display: none;
}
#right-panel {
    top:35px;
    padding:0;
    margin-right:-650px;
    position:fixed;
    z-index:1000;
    right:-3px;
}
.panel-content {
    padding:12px;
    width:550px;
    height:536px;
    margin-left: 90px;
    margin-top:18px;
    position: absolute;
    color:#fff;
    background-color:#797979;
}
.file-tree{
    height: 300px;
    width: 200px;
    text-align: left;
}
.file-view{
    height: 200px;
    width: 400px;
}
.file-view .rf-p{
    background-color:#797979;
    border: none;
}
.file-view .rf-p-b{
    background-color:#797979;
    text-align: center;
}
.picture img {
    max-width:200px;
    max-height:200px;
    border: 2px solid white;
}
.file-url{
    color: #00008b;
    background-color: #add8e6;
    text-align: center;
    padding-top: 2px;
    border: 2px solid white;
}