<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--Security configuration-->
    <bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>

    <security:http auto-config="true">
        <security:intercept-url pattern="/login*" access="ROLE_SUPERVISOR"/>
        <security:intercept-url pattern="/site*" access="IS_AUTHENTICATED_REMEMBERED"/>
        <security:logout logout-success-url="/login"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="stsyhanou" password="12345" authorities="ROLE_SUPERVISOR"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>


</beans>