<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--Security configuration-->
    <bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>

    <import resource="hibernate-context.xml"/>

    <security:http auto-config="true">
        <security:intercept-url pattern="/users*" access="ROLE_SUPERVISOR"/>
        <security:intercept-url pattern="/users/*" access="ROLE_SUPERVISOR"/>
        <security:intercept-url pattern="/mngt*" access="ROLE_ADMIN,ROLE_SUPERVISOR"/>
        <security:intercept-url pattern="/mngt/*" access="ROLE_ADMIN,ROLE_SUPERVISOR"/>
        <security:logout logout-success-url="/site"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:jdbc-user-service data-source-ref="dataSource" />
        </security:authentication-provider>
    </security:authentication-manager>

    <!--<security:authentication-manager>-->
        <!--<security:authentication-provider>-->
            <!--<security:user-service>-->
                <!--<security:user name="stsyhanou" password="12345" authorities="ROLE_ADMIN"/>-->
            <!--</security:user-service>-->
        <!--</security:authentication-provider>-->
    <!--</security:authentication-manager>-->

</beans>